<h1>{{title}}</h1>

<div>
    <!-- <uib-tabset>
        <uib-tab ng-repeat="tab in vm.tabs" heading="{{tab.title}}" select="vm.go(tab.route)" active="tab.active"></uib-tab> -->
    <!--<div ui-view="{{tab.route}}"></div>
        </uib-tab>-->
    <!-- </uib-tabset> -->

    <!-- <div ui-view></div> -->
    <main class="container">
        <ngb-tabset>
            <ngb-tab *ngFor="let tab of tabs">
                <ng-template ngbTabTitle>
                    <a [routerLink]="tab.route">{{tab.title}}</a>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>

        <router-outlet></router-outlet>
    </main>

</div>