<h3>{{vm.title}}</h3>

<form ng-submit="vm.submit(calculations)">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-5">
                <label for="vehicleWeight">Weight</label>
                <input type="text" class="form-control" id="vehicleWeight" ng-model="calculations.weight" placeholder="Enter Vehicle Weight">
            </div>
            <div class="col-xs-5">
                <label for="estimatedTime">1/4 Mile ET</label>
                <input type="text" class="form-control" id="estimatedTime" ng-model="calculations.et" placeholder="Enter 1/4 Time in Seconds">
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <div class="form-group top30">
        <div class="row">
            <div class="col-xs-5">
                <label for="estimatedFlywheelHorsePower">Estimated Flywheel Engine Horsepower</label>
                <input type="text" class="form-control" id="estimatedFlywheelHorsePower" ng-model="vm.calculatedHP.flywheelHorsepower">
            </div>
            <div class="col-xs-5">
                <label for="estimatedRearWheelHorsePower">Estimated Rear Wheel Engine Horsepower (15% drivetrain loss)</label>
                <input type="text" class="form-control" id="estimatedRearWheelHorsePower" ng-model="vm.calculatedHP.rearWheelHorsepower">
            </div>
        </div>
    </div>
</form>